<a href="https://colab.research.google.com/github/yashirmehmood/DataAnalysis/blob/main/Population_Scrapper_Worldometer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Importing required liberaries
#2.Setting Up the URL
#3.Getting country name as input
#4.Finalizing the URL

from bs4 import BeautifulSoup
import requests
import pandas as pd


url = 'https://www.worldometers.info/world-population/-population/'
# print(url.find('n/'))
url1 = url[:47]
url2 = url[47:]


country_name = input('Enter The Country Name: ')


final_url = url1 + country_name + url2
print(final_url)

Enter The Country Name: india
https://www.worldometers.info/world-population/india-population/

In [ ]:
## Making requests for the link and getting response.

req = requests.get(final_url)
html_doc = req.text
soup = BeautifulSoup(html_doc, 'html.parser')


#understand the web structure and fetch the data accordingly
req_table = soup.find_all('div', class_="table-responsive")
table_thead = req_table[0].thead

# print(type(table_thead))


#here we can fetch the table headings as my dataframe columns
column_list = []
th_tags = table_thead.find_all('th')
for th in th_tags:
    th = th.text
    column_list.append(th)

In [ ]:
### Here i'm fetching data from each table row data
#setting our data according to our need

table_body = req_table[0].tbody
body_tr = table_body.find_all('tr')

# print(body_tr[0].text)
string_list = []
for b_tr in body_tr:
    #cleaing my string values
    mystr = b_tr.text         
    mystr = mystr.replace(',','')           #removing , in string digits
    mystr = mystr.replace('%','')           #remving % sign from values
    mystr = mystr.replace('  ', ' ')        #removing double spaces created by removel of %
    mystr = mystr.strip()                   #removing any spaces in start or at end
    newstr = mystr.split(" ")               #now splitting whole string on the basis of space
    string_list.append(newstr)
print(string_list)

[['2020', '1380004385', '0.99', '13586631', '-532687', '28.4', '2.24', '464', '35.0', '483098640', '17.70', '7794798739', '2'], ['2019', '1366417754', '1.02', '13775474', '-532687', '27.1', '2.36', '460', '34.5', '471828295', '17.71', '7713468100', '2'], ['2018', '1352642280', '1.04', '13965495', '-532687', '27.1', '2.36', '455', '34.1', '460779764', '17.73', '7631091040', '2'], ['2017', '1338676785', '1.07', '14159536', '-532687', '27.1', '2.36', '450', '33.6', '449963381', '17.74', '7547858925', '2'], ['2016', '1324517249', '1.10', '14364846', '-532687', '27.1', '2.36', '445', '33.2', '439391699', '17.75', '7464022049', '2'], ['2015', '1310152403', '1.20', '15174247', '-470015', '26.8', '2.40', '441', '32.7', '429069459', '17.75', '7379797139', '2'], ['2010', '1234281170', '1.47', '17334249', '-531169', '25.1', '2.80', '415', '30.8', '380744554', '17.74', '6956823603', '2'], ['2005', '1147609927', '1.67', '18206876', '-377797', '23.8', '3.14', '386', '29.1', '334479406', '17.54', '6541907027', '2'], ['2000', '1056575549', '1.85', '18530592-136514', '22.7', '3.48', '355', '27.6', '291350282', '17.20', '6143493823', '2'], ['1995', '963922588', '1.99', '18128958', '-110590', '21.8', '3.83', '324', '26.5', '255558824', '16.78', '5744212979', '2'], ['1990', '873277798', '2.17', '17783558', '9030', '21.1', '4.27', '294', '25.5', '222296728', '16.39', '5327231061', '2'], ['1985', '784360008', '2.33', '17081433', '115942', '20.6', '4.68', '264', '24.3', '190321782', '16.10', '4870921740', '2'], ['1980', '698952844', '2.32', '15169989', '222247', '20.2', '4.97', '235', '23.0', '160941941', '15.68', '4458003514', '2'], ['1975', '623102897', '2.33', '13582621', '421208', '19.7', '5.41', '210', '21.3', '132533810', '15.27', '4079480606', '2'], ['1970', '555189792', '2.15', '11213294', '-68569', '19.3', '5.72', '187', '19.7', '109388950', '15.00', '3700437046', '2'], ['1965', '499123324', '2.07', '9715129', '-17078', '19.6', '5.89', '168', '18.7', '93493844', '14.95', '3339583597', '2'], ['1960', '450547679', '1.91', '8133417', '-30805', '20.2', '5.90', '152', '17.9', '80565723', '14.85', '3034949748', '2'], ['1955', '409880595', '1.72', '6711079', '-21140', '20.7', '5.90', '138', '17.6', '71958495', '14.78', '2773019936', '2']]

In [ ]:
##!!!!!!!!!!!!!!!! WARNING: Run this cell only once. Otherwise you'll lose more data. !!!!!!!!! ########

#To remove problematic row of data. Data of year 2000 creates problem. So we are removing that year's data from our data. 
# year 2000 data comes at index 8.

temp_list = string_list.pop(8)
print(string_list)

[['2020', '1380004385', '0.99', '13586631', '-532687', '28.4', '2.24', '464', '35.0', '483098640', '17.70', '7794798739', '2'], ['2019', '1366417754', '1.02', '13775474', '-532687', '27.1', '2.36', '460', '34.5', '471828295', '17.71', '7713468100', '2'], ['2018', '1352642280', '1.04', '13965495', '-532687', '27.1', '2.36', '455', '34.1', '460779764', '17.73', '7631091040', '2'], ['2017', '1338676785', '1.07', '14159536', '-532687', '27.1', '2.36', '450', '33.6', '449963381', '17.74', '7547858925', '2'], ['2016', '1324517249', '1.10', '14364846', '-532687', '27.1', '2.36', '445', '33.2', '439391699', '17.75', '7464022049', '2'], ['2015', '1310152403', '1.20', '15174247', '-470015', '26.8', '2.40', '441', '32.7', '429069459', '17.75', '7379797139', '2'], ['2010', '1234281170', '1.47', '17334249', '-531169', '25.1', '2.80', '415', '30.8', '380744554', '17.74', '6956823603', '2'], ['2005', '1147609927', '1.67', '18206876', '-377797', '23.8', '3.14', '386', '29.1', '334479406', '17.54', '6541907027', '2'], ['1990', '873277798', '2.17', '17783558', '9030', '21.1', '4.27', '294', '25.5', '222296728', '16.39', '5327231061', '2'], ['1985', '784360008', '2.33', '17081433', '115942', '20.6', '4.68', '264', '24.3', '190321782', '16.10', '4870921740', '2'], ['1980', '698952844', '2.32', '15169989', '222247', '20.2', '4.97', '235', '23.0', '160941941', '15.68', '4458003514', '2'], ['1975', '623102897', '2.33', '13582621', '421208', '19.7', '5.41', '210', '21.3', '132533810', '15.27', '4079480606', '2'], ['1970', '555189792', '2.15', '11213294', '-68569', '19.3', '5.72', '187', '19.7', '109388950', '15.00', '3700437046', '2'], ['1965', '499123324', '2.07', '9715129', '-17078', '19.6', '5.89', '168', '18.7', '93493844', '14.95', '3339583597', '2'], ['1960', '450547679', '1.91', '8133417', '-30805', '20.2', '5.90', '152', '17.9', '80565723', '14.85', '3034949748', '2'], ['1955', '409880595', '1.72', '6711079', '-21140', '20.7', '5.90', '138', '17.6', '71958495', '14.78', '2773019936', '2']]

In [ ]:
#Converting that string value list to float value lists.
#merging small lists into one big list to make a dataframe.

long_list = []

for rec in string_list:
    short_list = []

    #in the following loop, if the string value contains "." it means its float, otherwise it's integer.
    for val in rec:
        if (val.find('.') > 0):
            val = float(val)
            short_list.append(val)
        else:
            val = int(val)
            short_list.append(val)
         #   print(short_list)
    #Making a big list for DataFrame
    long_list.append(short_list)
    
print(long_list[0])

[2020, 1380004385, 0.99, 13586631, -532687, 28.4, 2.24, 464, 35.0, 483098640, 17.7, 7794798739, 2]

In [ ]:
# Making Data frame from scrapped data

data_df = pd.DataFrame(long_list)

#Adding column names for DataFrame
data_df.columns = column_list



# Setting year as index
finalized_data = data_df.set_index('Year')


#printing finalized country population
print(finalized_data)


finalized_data.to_excel("country_data.xlsx")
finalized_data.to_csv("country_data.csv")

      Population  Yearly %  Change  Yearly Change  Migrants (net)  Median Age  \
Year
2020    83783942              0.32         266897          543822        45.7
2019    83517045              0.47         392627          543822        45.9
2018    83124418              0.56         466009          543822        45.9
2017    82658409              0.57         464641          543822        45.9
2016    82193768              0.50         406357          543822        45.9
2015    81787411              0.24         192082          387715        45.9
2010    80827002             -0.19        -155148            8617        44.3
2005    81602741              0.05          40372          164889        42.1
1995    81138659              0.52         416935          525692        38.4
1990    79053984              0.35         272478          336747        37.6
1985    77691595             -0.15        -118301               5        37.2
1980    78283100             -0.15        -114588           45779        36.5
1975    78856039              0.07          55531          140346        35.4
1970    78578385              0.60         464071          174253        34.2
1965    76258032              0.76         568759          133863        34.3
1960    73414239              0.52         375356            7966        34.7
1955    71537459              0.45         314243           -8400        34.5

      Fertility Rate  Density (P/Km²)  Urban Pop %  Urban Population  \
Year
2020            1.59              240         76.3          63930305
2019            1.46              240         76.4          63787507
2018            1.46              238         76.5          63622346
2017            1.46              237         76.8          63442124
2016            1.46              236         77.0          63257479
2015            1.43              235         77.1          63078413
2010            1.36              232         77.0          62261612
2005            1.35              234         76.0          62053609
1995            1.30              233         74.0          60054511
1990            1.43              227         73.2          57849875
1985            1.46              223         72.7          56509433
1980            1.51              225         72.9          57036935
1975            1.71              226         72.6          57225423
1970            2.36              225         72.3          56788207
1965            2.47              219         72.0          54869782
1960            2.27              211         71.4          52406122
1955            2.13              205         69.7          49855283

      Country's Share of World Pop  World Population  GermanyGlobal Rank
Year
2020                          1.07        7794798739                  19
2019                          1.08        7713468100                  17
2018                          1.09        7631091040                  17
2017                          1.10        7547858925                  16
2016                          1.10        7464022049                  16
2015                          1.11        7379797139                  16
2010                          1.16        6956823603                  16
2005                          1.25        6541907027                  14
1995                          1.41        5744212979                  12
1990                          1.48        5327231061                  12
1985                          1.60        4870921740                  11
1980                          1.76        4458003514                   9
1975                          1.93        4079480606                   8
1970                          2.12        3700437046                   8
1965                          2.28        3339583597                   7
1960                          2.42        3034949748                   7
1955                          2.58        2773019936                   7